/* Base */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
  font-family: 'Lekton', sans-serif;
  /*letter-spacing: -0.02em;*/
  color: #EEE;
  line-height: 1.4;
}

a {
  transition: 0.3s;
}

a:link, a:visited {
  color: #ed0180;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  font-family: 'Lekton', sans-serif;
  color: #EEE;
}
