/*
 * VUE JS
 * -------------------------------------------------------------------------- */


[v-cloak] {
  display: none;
}


/*
 * APP
 * -------------------------------------------------------------------------- */

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1em;
  font-size: 0.9em;
}

@media(min-width: 40em) {
  #app {
    padding: 3em;
    font-size: 1em;
  }
}

/*
 * LOGOS
 * -------------------------------------------------------------------------- */

.logo-holder {
  display: inline-block;
  /*background-color: rgba(0, 0, 0, 0.1);*/
  padding: 0.4em 0.4em 0.2em;
  margin: -0.4em -0.4em -0.2em;
}

.logo-dxlab {
  width: 6em;
}

.logo-slnsw {
  width: 9em;
  position: absolute;
  bottom: 1em;
  left: 1em;
}

@media(min-width: 40em) {
  .logo-slnsw {
    bottom: 3em;
    left: 3em;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    padding: 0.4em;
    margin: -0.4em;
  }
}

/*
 * NAV & MENU
 * -------------------------------------------------------------------------- */

nav {
  position: relative;
}

.menu {
  position: absolute;
  top: 0;
  display: block;
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
  text-shadow: 1px 1px 0px black;
  border: 1px solid #EEE;
  font-size: 1.44em;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

.menu.is-active-mobile {
  display: block;
  opacity: 1;
  padding: 0.6em;
  height: auto;
  pointer-events: all;
}

  @media(min-width: 40em) {
    .menu {
      display: block;
      opacity: 1;
      pointer-events: all;
      border: none;
      font-size: 1em;
      padding: 0.2em 0.4em;
      top: -0.2em;
      left: -0.4em;
      height: auto;
    }
  }

.menu-title {
  display: inline-block;
  font-size: 1em;
  /*background-color: rgba(0, 0, 0, 0.2);*/
  padding: 0.4em;
  margin: -0.6em 0 0 -0.4em;
}

  @media(min-width: 40em) {
    .menu-title {
      display: none;
    }
  }

  .menu-title span {
    color: #ed0180;
    font-size: 1em;
  }

.heading-divider {
  border-top: 1px solid #EEE;
  width: 1em;
  margin-top: 0.3em;
  margin-bottom: 1em;
}

/*
 * BUTTONS
 * -------------------------------------------------------------------------- */

.button {
  border: 1px solid #EEE;
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.2em;
  transition: 0.3s;
}

  .button:link, .button:visited {
    color: #EEE;
  }

  .button:hover, .button:active {
    color: #ed0180;
    /*border-color: #ed0180;*/
    cursor: pointer;
  }

.list-button {
  display: block;
  z-index: 1;
  position: relative;
  border: none;
  background-color: transparent;
  font-family: 'Lekton', sans-serif;
  color: #EEE;
  font-size: 0.8em;
  text-shadow: 1px 1px 0px black;
  padding-left: 0;
  margin-bottom: 1em;
}

  .list-button:last-child {
    margin-bottom: 0;
  }

.list-button.active {
  /*font-weight: 700;*/
}

.list-button span {
  color: #ed0180;
}

  @media (min-width: 40em) {
    .list-button {
      margin-bottom: 0;
    }

    .list-button.active {
      color: #ed0180;
    }
  }

.modal-button {
  position: absolute;
  z-index: 20;
  top: 1.25em;
  right: 1.25em;
  width: 8em;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 0.8em;
}

@media(min-width: 40em) {
  .modal-button {
    top: 3.75em;
    right: 3.75em;
  }
}

.modal-button--content {
  top: auto;
  bottom: 1em;
  right: 1em;
  display: block;
  min-width: 10em;
  width: 40%;
}

@media(min-width: 40em) {
  .modal-button--content {
    bottom: 2em;
    right: 2em;
  }
}

.modal-button--about {
  z-index: 25;
  width: auto;
  top: auto;
  bottom: 1.25em;
  right: 1.25em;
}

.modal-button--about--is-hidden {
  z-index: 1;
}

@media(min-width: 40em) {
  .modal-button--about {
    bottom: 3.75em;
    right: 3.75em;
  }
}

.modal-button--close {
  top: -1px;
  right: -1px;
}

.modal-button {
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 1;
}

.modal-animation-enter .modal-button,
.modal-animation-leave-to .modal-button {
  opacity: 0;
}


/*
 * MODAL
 * -------------------------------------------------------------------------- */

.modal {
  position: absolute;
  z-index: 10;
  top: 1em;
  right: 1em;
  padding: 1em 1em;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  opacity: 1;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.85);
  border: 1px solid #EEE;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

@media (min-width: 40em) {
  .modal {
    top: 3em;
    right: 3em;
    width: 50%;
    max-width: 34em;
    height: auto;
    padding: 2em;
    padding-bottom: 5em;
  }
}

.modal--about {
  z-index: 25;
  top: inherit;
  bottom: 1em;
}

  @media(min-width: 40em) {
    .modal--about {
      bottom: 3em;
    }
  }

  .modal--about .content-button {
    bottom: 3em;
    width: 15em;
  }

    @media(min-width: 40em) {
      .modal--about .content-button {
        bottom: 4em;
      }
    }

.modal-animation-enter-active {
  /*transition: all .5s cubic-bezier(0.86, 0, 0.07, 1);*/
  /*animation: modal-enter-mobile 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;*/
  animation: modal-enter-mobile 0.5s ease-in-out;
}

  @media (min-width: 40em) {
    .modal-animation-enter-active {
      animation: modal-enter 0.5s ease-in-out;
    }
  }

.modal-animation-leave-active {
  animation: modal-leave-mobile 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

  @media (min-width: 40em) {
    .modal-animation-leave-active {
      animation: modal-leave 0.5s ease-in-out;
    }
  }

.modal-animation-enter, .modal-animation-leave-to /* .fade-leave-active below version 2.1.8 */ {
  /*width: 6em;
  height: 1em;
  opacity: 0;
  padding: 1em;*/
}

@keyframes modal-enter-mobile {
  0% {
    width: 0;
    height: 1.8em;
    opacity: 0;
    padding: 0.5em;
  }
  50% {
    width: calc(100% - 2em);
    height: 1.8em;
    padding: 0.5em;
  }
  100% {
    height: calc(100% - 2em);
    /*opacity: 0;*/
  }
}

@keyframes modal-enter {
  0% {
    width: 0;
    height: 1.8em;
    /*opacity: 0;*/
    padding: 0;
  }
  50% {
    width: 50%;
    max-width: 34em;
    height: 1em;
    padding: 2em;
  }
  100% {
    height: auto;
  }
}

@keyframes modal-leave-mobile {
  0% {
  }

  50% {
    height: 1.8em;
    width: calc(100% - 2em);
    opacity: 1;
  }

  100% {
    width: 6em;
    height: 1.8em;
    padding: 0.5em;
    opacity: 0;
  }
}

@keyframes modal-leave {
  0% {
  }

  50% {
    height: 1em;
    width: 50%;
    max-width: 34em;
    opacity: 1;
  }

  100% {
    width: 6em;
    height: 1em;
    padding: 1em;
    opacity: 0;
  }

}

  .modal__content {
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 1;
  }

  .modal-animation-enter .modal__content,
  .modal-animation-leave-to .modal__content {
    opacity: 0;
  }

  .modal__content h1 {
    margin-top: 0;
    margin-bottom: 0.4em;
    font-size: 1.6em;
    max-width: calc(100% - 4em);
    line-height: 1.2;
  }

  .modal__content img {
    width: 100%;
    height: auto;
    margin-right: 1em;
  }

  .modal__field {
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 2px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

.modal-underlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.4;
  transition: 0.3s;
}

.modal-underlay-animation-enter-active, .modal-underlay-animation-leave-active {
  transition: all .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.modal-underlay-animation-enter, .modal-underlay-animation-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/*
 * WEBGL-ERROR
 * -------------------------------------------------------------------------- */

.webgl-error { font: 15px/30px monospace; text-align: center; color: #fff; margin: 50px; }
.webgl-error a { color: #fff; }
