/* Base */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
  font-family: 'Lekton', sans-serif;
  /*letter-spacing: -0.02em;*/
  color: #EEE;
  line-height: 1.4;
}

a {
  transition: 0.3s;
}

a:link, a:visited {
  color: #ed0180;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  font-family: 'Lekton', sans-serif;
  color: #EEE;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1em;
  font-size: 0.8em;
}

@media(min-width: 40em) {
  #app {
    padding: 3em;
    font-size: 1em;
  }
}

[v-cloak] {
  display: none;
}

.logo-dxlab {
  width: 6em;
}

.logo-slnsw {
  width: 9em;
  position: absolute;
  bottom: 1em;
  left: 1em;
}

@media(min-width: 40em) {
  .logo-slnsw {
    bottom: 3em;
    left: 3em;
  }
}

.menu {
  margin-top: 1em;
  text-shadow: 1px 1px 0px black;
}

.heading-divider {
  border-top: 1px solid #EEE;
  width: 1em;
  margin-top: 0.3em;
  margin-bottom: 1em;
}

.button-change-globe {
  display: block;
  z-index: 1;
  position: relative;
  border: none;
  background-color: transparent;
  font-family: 'Lekton', sans-serif;
  color: #EEE;
  font-size: 0.8em;
  text-shadow: 1px 1px 0px black;
  padding-left: 0;
}

.button-change-globe.active {
  color: #ed0180;
  font-weight: 700;
}

.button {
  border: 1px solid #EEE;
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.2em;
  transition: 0.3s;
}

  .button:link, .button:visited {
    color: #EEE;
  }

  .button:hover, .button:active {
    color: #ed0180;
    /*border-color: #ed0180;*/
    cursor: pointer;
  }

.modal-button {
  position: absolute;
  z-index: 20;
  top: 1.25em;
  right: 1.25em;
  width: 8em;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 0.8em;
}

@media(min-width: 40em) {
  .modal-button {
    top: 3.75em;
    right: 3.75em;
  }
}

.content-button {
  position: absolute;
  bottom: 1em;
  right: 1em;
  display: block;
  width: 40%;
}

@media(min-width: 40em) {
  .content-button {
    bottom: 2em;
    right: 2em;
  }
}

.about-button {
  position: absolute;
  z-index: 25;
  bottom: 1.25em;
  right: 1.25em;
  font-size: 0.8em;
}

.about-button--is-hidden {
  z-index: 1;
}

@media(min-width: 40em) {
  .about-button {
    bottom: 3.75em;
    right: 3.75em;
  }
}

.about-modal-button {
  top: -1px;
  right: -1px;
}

.modal {
  position: absolute;
  z-index: 10;
  top: 1em;
  right: 1em;
  padding: 3em 1em;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  opacity: 1;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.85);
  border: 1px solid #EEE;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

@media (min-width: 40em) {
  .modal {
    top: 3em;
    right: 3em;
    width: 50%;
    max-width: 34em;
    height: 70%;
    padding: 2em;
    padding-bottom: 5em;
  }
}

.about-modal {
  z-index: 25;
  top: inherit;
  bottom: 1em;
}

  @media(min-width: 40em) {
    .about-modal {
      bottom: 3em;
    }
  }

  .about-modal .content-button {
    bottom: 3em;
    width: 15em;
  }

    @media(min-width: 40em) {
      .about-modal .content-button {
        bottom: 4em;
      }
    }

.modal-animation-enter-active, .modal-animation-leave-active {
  transition: all .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.modal-animation-enter, .modal-animation-leave-to /* .fade-leave-active below version 2.1.8 */ {
  width: 6em;
  height: 1em;
  opacity: 0;
  padding: 1em;
}

  .modal__content h1 {
    margin-top: 0;
    margin-bottom: 0.4em;
    font-size: 2em;
    max-width: calc(100% - 2em);
    line-height: 1.2;
  }

  .modal__content img {
    width: 100%;
    height: auto;
    margin-right: 1em;
  }

  .modal__field {
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 2px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

.modal-underlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.3;
  transition: 0.3s;
}

.modal-underlay-animation-enter-active, .modal-underlay-animation-leave-active {
  transition: all .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.modal-underlay-animation-enter, .modal-underlay-animation-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.webgl-error { font: 15px/30px monospace; text-align: center; color: #fff; margin: 50px; }
.webgl-error a { color: #fff; }
